fastapi[standard]
uvicorn[standard]
python-dotenv
motor
pymongo
pydantic-settings
httpx
python-jose[cryptography]
python-multipart
python-dateutil
email-validator
pytest
pytest-asyncio
alembic
sqlalchemy

