fastapi[standard]
uvicorn[standard]
python-dotenv
motor
pymongo
pydantic-settings
psycopg2-binary
python-jose[cryptography]
python-multipart
python-dateutil
email-validator
pytest
pytest-asyncio
requests
alembic
sqlalchemy

